body {
    text-align: center;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
  }
  
  h2 {
    font-size: 25px;
    font-weight: 700;
  }
  
  h3 {
    font-size: 16px;
  }
  
  p {
    font-size: 14px;
  }
  
  .sectioncompleta {
    width: 50%;
    margin: 80px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    
  }
  
  .containercima {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px 0;
    text-align: left;
    padding-left: 40px;
    border-radius: 10px 10px 0 0;
  }

   .container-esquerda {
    display: flex;
    flex-direction: row;
    float: left;
    padding-top: 23px;
    padding-bottom: 105px;
    height: 50%;
    width: 50%;
    text-align: left;
    background: hsl(179, 62%, 43%);
    border-radius: 0px 0px 10px 10px;
    
  }
  
  .container-direita {
    display: flex;
    flex-direction: row;
    float: right;
    padding-top: 23px;
    padding-bottom: 105px;
    height: 50%;
    width: 50%;
    background-color: hsl(179, 62%, 48%);
    border-radius: 0px 0px 10px 10px;
    text-align: left;
  }
  
  .cabeçalho {
    color: hsl(179, 62%, 43%);
  }
  
  .cabeçalho2 {
    color: hsl(71, 73%, 54%);
    text-align: left;
  }
  
  .descrição {
    color: #bfbfbf;
    font-weight: 700;
  }
  
  .box-header {
    color: white;
  }
  
  .price {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin: 0;
    display: inline-block;
  }
  
  .details {
    color: white;
    font-weight: lighter;
    margin: 0;
    line-height: 1.5;
  }
  
  .duration {
    display: inline-block;
    font-weight: lighter;
    color: rgb(219, 211, 211);
  }
  .inner-containerdebaixo {
    margin-left: 30px;
  }
  
  .inner-containeresquerda {
    margin-left: 30px;
  }

  .butn{

    border-radius: 5px;
    box-shadow: 0 0 4px #666666;
    box-shadow: 0 0 4px #666666;
    font-family: 'Karla', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background: #c0df34;
    text-decoration: none;
    margin-top: 20px;
    padding: 16px 30px 17px 30px;
    display: flex;
    float: center;
    width: 60%;
    
  }
  
  .butn:hover {
    background: #df620e;
    text-decoration:none;
  }
  

  @media (orientation: landscape) {

    .containerdebaixo {
      flex-direction: row;
    }
    .box-direita {
      flex-direction: row;
    }
  }

  @media (orientation: portrait) {

    .containerdebaixo {
      flex-direction: column;
    }
    .containeresquerda {
      flex-direction: column;
    }

    .containercima {
      
      flex-direction: column;
    }
  }